@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

.text--large-title {
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.004em;
}

.text--title-1 {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.0038em;
}

.text--title-2 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.0026em;
}

.text--title-3 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.0045em;
}

.text--headline {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.0043em;
}

.text--body {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.0043em;
}

.text--callout {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.0031em;
}

.text--footnote {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.0008em;
}

.text--caption-1 {
  font-size: 12px;
  line-height: 16px;
}

.text--caption-2 {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.0006em;
}

.font-weight--normal {
  font-weight: normal;
}

.font-weight--medium {
  font-weight: 500;
}

.font-weight--semibold {
  font-weight: 600;
}

.font-weight--extra-bold {
  font-weight: 800;
}

.heading-gray-md {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.0008em;
    color: #5C697D;
}

.heading-dark-gray-md {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.0008em;
    color: #78809B;
}

.heading-black-lg {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    text-align: center !important;
}

.text-dark-gray {
    color: #78809B;
}