$color-black: #000000;
$color-blue: #2862ff;
$color-brand: #0D1F3C;
$color-grey-100: #edf0fb;
$color-grey: #afb3c3;
$color-red-100: #feeceb;
$color-red: #f44336;
$color-white: #ffffff;
$color-yellow: #ffebb0;
$color-dark-grey: #78809B;

$color-brand-500: #0c1f3c;

$color-brand-2-100: #c1c4d1;

$color-light-grey-500: #eef0fb;
$color-light-grey-300: #f4f5fc;


$color-primary-50: #eaefff;
$color-primary-100: #bcceff;
$color-primary-400: #5381ff;
$color-primary-500: #2862ff;
$color-primary-600: #2459e8;

$color-primary: $color-blue;
$color-secondary: $color-grey;
$color-success: $color-blue;
$color-danger: $color-red;
$color-warning: $color-red;
$color-info: $color-yellow;
$color-light: $color-white;
$color-dark: $color-black;
$color-light-grey: $color-light-grey-500;

$bg-color-primary: $color-grey-100;
$bg-color-danger: $color-red-100;

$color-input-bg: $color-grey-100;
$color-brand-primary: $color-brand-500;